@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@import url(components/alerts.css);
@import url(components/buttons.css);
@import url(components/footer.css);
@import url(/css/components/greeting.css);
@import url(components/header.css);
@import url(components/image-reel.css);
@import url(components/post.css);
@import url(components/searchbar.css);
@import url(components/summary.css);
@import url(components/tag-nav.css);
@import url(components/tab-nav.css);
@import url(components/profile-picture.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --socialpink: #f62e8e;
  --socialblue: #2e8af6;
  --darkblack: #181a1c;
  --lightwhite: #ecebed;
  --gradient: linear-gradient(90deg, rgba(246, 46, 142, 1) 0%, rgba(172, 26, 240, 1) 100%);
  --black: #000;
  --white: #fff;
  --gray: #323436;
  --lightgray: #727477;
}
