html {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkblack);
  color: var(--white);
  padding: 1.5em 1.5em;
}

header h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.btn__read {
  background-color: var(--darkblack);
  color: var(--socialpink);
  font-weight: bold;
  border: solid 0px var(--darkblack);
}
