html {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  color: var(--white);
}

.btn__read {
  background-color: var(--black);
  color: var(--socialpink);
  font-weight: bold;
  border: solid 0px var(--black);
}
