body {
  background-color: var(--gray);
  font-family: Poppins, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

h1 {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--white);
  line-height: 1.5;
}

.btn.btn__messages {
  border-radius: none;
  border: none;
  background-color: transparent;
  color: inherit;

  background: none;

  border: none;
  padding: 0.2em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: relative;
}

.btn.btn__messages svg {
  border-radius: 50%;
  border: 1px solid var(--lightgray);
  padding: 0.2em;
}

.btn.btn__messages.path {
  stroke: white;
  stroke-width: 2px;
}

.btn.btn__notification {
  position: absolute;
  right: 1.4em;
  top: 1.4em;
}
