body {
  background-color: var(--gray);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

h1 {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
}

.btn.btn__messages {
  border-radius: none;
  border: 2px solid var(--lightgray);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
