.alerts {
  background-color: var(--darkblack);
  font-family: "Poppins", sans-serif;
}

.alerts h2 {
  color: var(--lightgray);
  padding-left: 1.5em;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 1.25rem;
  margin-bottom: 1em;
}

.alerts__today {
  display: flex;
  align-items: center;
  color: var(--white);
  height: 4.625em;
}
