.profile__nav > a {
  all: unset;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 1rem;
  font-weight: lighter;
  border-bottom: 0.25px solid #404143;
  padding: 0.5em;
  margin-top: 0.8em;
  cursor: pointer;
}

.profile__nav {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

#profile__selected {
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.profile__underline {
  display: flex;
  border: 3px solid var(--socialblue);
  border-radius: 30px;
  position: absolute;
  margin-top: 29px;
  width: 55px;
}
